/* Base Styles for Body */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  position: relative;
  /* font-family: 'Roboto', sans-serif; */
  font-weight: 400;
  font-style: normal;
}

/* Gradient Overlay with Blur Effect */
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.9) 85%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: blur(5px);
}

.dark body::before {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.9) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(5px);
}

/* Mobile Menu Slide-In/Slide-Out Transitions */
.slide-in {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out; /* Smoother transition */
}

.slide-out {
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out; /* Smoother transition */
}
/* Custom styles for mobile menu transitions */
#mobile-menu {
  transform: translateX(-100%);
}
#mobile-menu.translate-x-0 {
  transform: translateX(0);
}

/* Show/Hide Elements Based on Screen Size */
.hide-on-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
  .mobile-icon {
    display: none;
  }
}

/* Content Container */
.content {
  position: relative;
  z-index: 2; /* Ensure this is higher than the gradient overlay */
}

.active-category {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px; /* Atur jarak antara teks dan underline */
}
